<header>
    <div class="container">
        <div class="logo"><img src="images/logo.svg" alt="">bmerketo</div>
        @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
        {
            <nav id="menu" class="menu-links">
                <a class="link" asp-action="index" asp-controller="home">HOME</a>
                <a class="link" asp-action="index" asp-controller="products">PRODUCTS</a>
                <a class="link" asp-action="index" asp-controller="contact">CONTACT</a>
                <a class="link" asp-action="index" asp-controller="backoffice">BACK OFFICE</a>
            </nav>
            <nav class="menu-icons">
                <a class="link" asp-action="index" asp-controller="search"><i class="fa-regular fa-search"></i></a>
                <a class="link" asp-action="index" asp-controller="signout">Logout</a>
                <a class="link" asp-action="index" asp-controller="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>
        }
        else if (signInManager.IsSignedIn(User) && User.IsInRole("user"))
        {
            <nav id="menu" class="menu-links">
                <a class="link" asp-action="index" asp-controller="home">HOME</a>
                <a class="link" asp-action="index" asp-controller="products">PRODUCTS</a>
                <a class="link" asp-action="index" asp-controller="contact">CONTACT</a>
                <a class="link" asp-action="index" asp-controller="account">ACCOUNT</a>
            </nav>
            <nav class="menu-icons">
                <a class="link" asp-action="index" asp-controller="search"><i class="fa-regular fa-search"></i></a>
                <a class="link" asp-action="index" asp-controller="signout">Logout</a>
                <a class="link" asp-action="index" asp-controller="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>
        }
        else
        {
            <nav id="menu" class="menu-links">
                <a class="link" asp-action="index" asp-controller="home">HOME</a>
                <a class="link" asp-action="index" asp-controller="products">PRODUCTS</a>
                <a class="link" asp-action="index" asp-controller="contact">CONTACT</a>
            </nav>
            <nav class="menu-icons">
                <a class="link" asp-action="index" asp-controller="search"><i class="fa-regular fa-search"></i></a>
                <a class="link" asp-action="index" asp-controller="signin">Login</a>
                <a class="link" asp-action="index" asp-controller="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>
        }
        <div class="toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                <i id="icon" class="fa-regular fa-bars"></i>
            </button>
        </div>
    </div>
</header>
