html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-size: 16px;
    font-family: $font-roboto;
    font-weight: $font-weight-regular;
    color: $color-dark-3;
}

.open-menu {
    width: 100vw !important;
    opacity: 0.99;
    transform: translateX(-100%);
}

.invalid {
    border: 1px solid $color-theme-1 !important;
    color: $color-theme-1;
}

.error {
    color: $color-theme-1;

    ul {
        list-style: none;
        padding: 0;
    }
}
