@model ContactUsFormViewModel

<section class="contact-form">
    <div class="container">
        <div class="title">Write something</div>

        <form method="post" novalidate>
            <div class="name form-group">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" id="name" type="text">
                <span asp-validation-for="FullName" class="error"></span>
            </div>
            <div class="email form-group">
                <label asp-for="Email">Your Email*</label>
                <input asp-for="Email" id="email" type="email">
                <span asp-validation-for="Email" class="error"></span>
            </div>
            <div class="phoneNumber form-group">
                <label asp-for="PhoneNumber" for="phone"></label>
                <input asp-for="PhoneNumber" id="phone" type="text">
            </div>
            <div class="companyName form-group">
                <label asp-for="CompanyName" for="company"></label>
                <input asp-for="CompanyName" id="company" type="text">
            </div>
            <div class="message form-group">
                <label asp-for="Message"></label>
                <textarea asp-for="Message" id="message"></textarea>
                <span asp-validation-for="Message" class="error"></span>
            </div>
            <div class="terms form-checkbox-group">
                <label asp-for="SaveUser" class="custom-checkbox">
                    Save my name, email in the this browser for the next time I comment.
                    <input asp-for="SaveUser" type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="error" asp-validation-summary="ModelOnly"></div>

            <button type="submit" class="btn-theme">Submit</button>
        </form>
    </div>
</section>